
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@model WebSelling.ViewModels.ProductDetailViewModel

<div id="content">
    <div class="product-container">
    <div style="place-self:flex-start;"><a asp-action="AllProducts" asp-controller="Home" class="btn-back">Back</a></div>
    <h1 class="mb12">@Model.danhMucSp.TenSanPham</h1>
    <div class="product-image">
      <img src="@Url.Content("../ProductImages/Image/"+Model.danhMucSp.AnhSanPham)" alt="" />

      
    </div>

    <div class="product-thumbnails">
        <div class="product-thumbnail">
            <!--xem bài 7 8p55s để đổi ảnh chi tiết sản phẩm-->
          <img src="/ProductImages/Image/headphone.png" alt="Ảnh nhỏ 1">
        </div>
        <div class="product-thumbnail">
          <img src="/ProductImages/Image/headphone.png" alt="Ảnh nhỏ 2">
        </div>
        <div class="product-thumbnail">
          <img src="/ProductImages/Image/headphone.png" alt="Ảnh nhỏ 3">
        </div>
      </div>
    
    <div class="col-3">
        <div class="box product-details">
          <h2 style="margin-bottom:5px;font-size: 18px;">Thông tin chi tiết</h2>
          <ul class="product-info-list" style="list-style-type:none">
            <li><strong>Thương hiệu:</strong> ABC</li>
            <li><strong>Màu sắc:</strong> Đen</li>
            <li><strong>Kích thước:</strong> XL</li>
            <li><strong>Giá:</strong> @Model.danhMucSp.GiaLonNhat $</li>
          </ul>
        </div>
        <div class="product-actions">    
          <a asp-action="AddFromProduct" asp-controller="Cart" asp-route-productId="@Model.danhMucSp.MaSanPham" class="btn btn-primary">Thêm vào giỏ hàng</a>
          @if (TempData["Message"] != null)
        {
            <div class="alert alert-success mt12" role="alert" >
                @TempData["Message"]
            </div>
        }
        </div>       
        <div class="box product-description">
          <h2 style="margin-bottom:5px;font-size: 18px;">Mô tả</h2>
          <p class="txt-black">@Model.danhMucSp.GioiThieuSanPham</p>
        </div>
    </div>
  </div>
</div>

